<main class="project-container">
  <div class="project-wrapper">
    <ng-container *ngIf="project; else noProject">
      <div class="project-card">
  

        <ng-container *ngIf="project.image; else noImage">
          <div class="left-card">
            <img [src]="project.image[0]" [alt]="project.name" class="project-img">
        
            <ng-container *ngIf="project.image.length > 1">
              <img [src]="project.image[1]" [alt]="project.name" class="project-img">
            </ng-container>
          </div>
        </ng-container>
        
        
        
          <div class="right-card">
            <div class="title-work">
              <h1 class="project-title">{{ project.name }}</h1>
              
          </div>

          <div class="workDescription">
          <p class="project-desc">{{ project.desc || 'No description available.' }}</p>

          <ng-container *ngIf="project.tools.length">
            <h3 class="tools-title">Tools Used:</h3>
            <ul class="tools-list">
              <li *ngFor="let tool of project.tools" class="tools">{{ tool }}</li>
            </ul>
          </ng-container>
          
        </div>
        <div class="back-btn-container" *ngIf="project.livedemolink">
          <a [href]="project.livedemolink" target="_blank" class="live-button">
            <p>Live Demo</p>
          </a>
        </div>
        
        <div class="back-btn-container">
          <a [routerLink]="['/projects', project.category]" class="back-btn"><p>← Back to Projects</p></a>
        </div>
      </div>
    </div>
    </ng-container>
  
    <ng-template #noProject>
      <div class="error-message">Project not found.</div>
    </ng-template>

    <ng-template #noImage>
      <div class="error-message">No image available.</div>
    </ng-template>
  </div>
</main>
