main {
    background-image: linear-gradient(#212020 1px, transparent 1px), linear-gradient(to right, #212020 1px, transparent 1px);
    background-size: 170px 170px;
    background-color: #000000;
    background-attachment: fixed;
}

header h1 {
    font-size: 20vw;
    color: white;
}

.container-fluid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 5%;
    transition:  0.3s ease-in-out;
}

.container-fluid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-fluid h1 {
    font-size: 12vw;
    color: white;
    margin-bottom: 15%;
    background: rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(138, 138, 138, 0.2); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    padding: 3%;
    border-radius: 30px;
}



.container-fluid button {
    border-radius: 100px;
}

/* Default Backgrounds */
.visual-art { 

    background-image: url(.../../../../.././../public/images/projectCategory/visuall.JPG); 
    background-size: cover;
    background-blend-mode: normal;
    background-position: center;
    background-attachment: fixed;
}


.digital-art { 
    background-image: url(.../../../../.././../public/images/projectCategory/digital.png); 
    background-size: cover;
    background-blend-mode: normal;
    background-position: center;
    background-attachment: fixed;
}
.web-design { 
    background-image: url(.../../../../.././../public/images/projectCategory/web.jpg); 
    background-size: cover;
    background-blend-mode: normal;
    background-position: center;
    background-attachment: fixed;

   
 }

/* Hovered States */
.hovered-visual {  
    background-color: #25252513;
    background-image: 
        url('../../../../public/images/projectCategory/visuall.JPG'),
        linear-gradient(rgba(255, 255, 255, 0.1) 3px, transparent 3px), 
        linear-gradient(to right, rgba(255, 255, 255, 0.1) 3px, transparent 3px);
    
    background-size: cover, 170px 170px, 170px 170px; 
    background-blend-mode: overlay;
    background-attachment: fixed;
    filter: grayscale(100%);
    letter-spacing: 2rem;
    transition:  0.3s ease-in-out;
}

.hovered-digital {
    background-color: #25252513;
    background-image: 
        url('../../../../public/images/projectCategory/digital.png'),
        linear-gradient(rgba(255, 255, 255, 0.1) 3px, transparent 3px), 
        linear-gradient(to right, rgba(255, 255, 255, 0.1) 3px, transparent 3px);
    
    background-size: cover, 170px 170px, 170px 170px; 
    background-blend-mode: overlay;
    background-attachment: fixed;
    filter: grayscale(100%);
    letter-spacing: 2rem;
    transition:  0.3s ease-in-out;
}

.hovered-visual h1, 
.hovered-digital h1 {
    background: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border: none;
    box-shadow: none;
}
 .hovered-web {  
    background-color: #25252513;
    background-image: 
        url('../../../../public/images/projectCategory/web.jpg'),
        linear-gradient(rgba(255, 255, 255, 0.1) 3px, transparent 3px), 
        linear-gradient(to right, rgba(255, 255, 255, 0.1) 3px, transparent 3px);
    
    background-size: cover, 170px 170px, 170px 170px; 
    background-blend-mode: overlay;
    background-attachment: fixed;
    filter: grayscale(100%);
    letter-spacing: 2rem;
    transition:  0.3s ease-in-out;
}


/* Smooth transition */


.back-btn {
    background: rgba(54, 54, 54, 0.2); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(138, 138, 138, 0.2); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5vw;
    padding: 15px;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease;
    width: 70%;
    border-radius: 50px;
  }
  
  .back-btn:hover {
    background-color: #ffffff;
    color: #000000;
  }
  