<main>
    <!-- Visual Arts -->
    <div class="visual-art container-fluid" 
         [ngClass]="{'hovered-visual': hoveredSection === 'visual'}">
         <h1>VISUAL ARTS</h1>
        <button class="back-btn" 
                routerLink="/projects/visual-art"
                (mouseenter)="setHover('visual')" 
                (mouseleave)="removeHover()">
                VIEW PROJECTS
        </button>
    </div>

    <!-- Digital Arts -->
    <div class="digital-art container-fluid" 
         [ngClass]="{'hovered-digital': hoveredSection === 'digital'}">
           <h1 style="font-size: 10vw;">DIGITAL ARTS</h1>
        <button class="back-btn" 
                routerLink="/projects/digital-art"
                (mouseenter)="setHover('digital')" 
                (mouseleave)="removeHover()">
            VIEW PROJECTS
        </button>
    </div>

    <!-- Web Design -->
    <div class="web-design container-fluid" 
         [ngClass]="{'hovered-web': hoveredSection === 'web'}">
         <h1 style="font-size: 7vw;">WEBSITE DESIGN</h1>
        <button class="back-btn" 
                routerLink="/projects/web-design"
                (mouseenter)="setHover('web')" 
                (mouseleave)="removeHover()">
            VIEW PROJECTS
        </button>
    </div>
</main>
