<div class="hello">
    <div class="col-6 col-md-6">
        <div class="container">
            <img [src]="me" alt="">
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <h1>John Gabriel T. Perez</h1>
        <h2>Developer</h2>
        <p>Through this website, I was able to showcase my skills, creativity, and passion for design and development. It serves as a platform to present my work, share my journey, and connect with others who appreciate art, technology, and storytelling. By combining my artistic vision with technical expertise, I aim to deliver visually engaging and user-friendly experiences that reflect my dedication to innovation and growth.</p>
    </div>
</div>
