<div class="container-fluid2">

    <div class="mobile">
      <nav>
        <div class="home-nav-container">
          <div class="nav">
            <p>PORTFOLIO</p>
            <p>ABOUT</p>
            <p>CONTACT</p>
          </div>
        </div>
      </nav>
    </div>
    
    <div class="skill-parent">
      <div class="skill-container fade-out-marquee">
        <div class="track2">
            <h1>ARTIST</h1>
            <h1>DESIGNER</h1>
            <h1>DEVELOPER</h1>
            <h1 aria-hidden="true">ARTIST</h1>
            <h1 aria-hidden="true">DESIGNER</h1>
            <h1 aria-hidden="true">DEVELOPER</h1>
            <h1 aria-hidden="true">ARTIST</h1>
            <h1 aria-hidden="true">DESIGNER</h1>
            <h1 aria-hidden="true">DEVELOPER</h1>
            <h1 aria-hidden="true">ARTIST</h1>
            <h1 aria-hidden="true">DESIGNER</h1>
            <h1 aria-hidden="true">DEVELOPER</h1>
        </div>
      </div>
    </div>
  
    <div class="overview">
        <h1 class="overview-title">HELLO, I'M GAB</h1>
        <div class="overview-content">
            <div class="overview-desc">
                <p>I’m an artist, designer, and developer specializing in creating visually compelling and user-focused experiences. With expertise in digital art, UI/UX design, and front-end development, I bring ideas to life through clean, modern, and functional design solutions.

                    My skill set includes visual storytelling, brand identity, and interactive design, ensuring that every project is both aesthetically striking and purpose-driven. I thrive on collaboration, adaptability, and problem-solving, making me a valuable asset in creative and tech-driven industries.
                    
                    Whether it’s crafting intuitive user interfaces, designing engaging visuals, or building seamless web experiences, I’m always focused on delivering high-quality work that leaves a lasting impact. Let’s create something great together!</p>
            </div>

        </div>
    </div>
    
   
  </div>
